* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.post-list {
  color: rgb(88, 88, 88);
  text-decoration: none;
}
.comment-para {
  color: rgb(88, 88, 88);
}

.body-para {
  margin: 0 5%;
}

.post-list:hover {
  color: #f38375;
}

header {
  background-color: #f7a399;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

h1 {
  color: #ffe3e0;
}

.home-btn {
  background-color: #ef6351;
  border: none;
  color: #ffe3e0;
  padding: 5px;
  border-radius: 5px;
  margin-top: 1%;
  position: relative;
  left: 45%;
}

.home-btn:hover {
  background-color: #f38375;
}

h2,
h3 {
  color: #ef6351;
  margin: 2%;
}

.post-para {
  margin: 1%;
}

.comment-div {
  border: 2px solid #ef6351;
  margin: 1%;
  padding: 2%;
  width: 50%;
  border-radius: 5px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
