*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.post-list{
 
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.post-list:hover{
  color: #f38375;
}

header{
  background-color: #f7a399;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 2%;
}



h1{
  color: #ffe3e0;
}

.home-btn{
  background-color: #ef6351;
  border: none;
  color: #ffe3e0;
  padding: 5px;
  border-radius: 5px;
  margin-top: 1%;
  position: relative;
  left: 45%;

}

.home-btn:hover{
  background-color: #f38375;
}

h2, h3{
  color: #ef6351;
  margin: 2%;
}

.post-para{
  margin: 1%;
}